/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2016, 7:13:53 AM
    Author     : Ben
*/

/*CSS Sheet for Open Source Budgeting*/ 
/*Created by Emily Hare*/ 

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: serif;
    margin-bottom: 1rem;
}

img{
	/*position: center;
	margin-left: 10px;
	margin-top: 5px;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
}

p {
    margin-bottom: 0.5rem;
}

hr {
    margin: 1rem 0;
}

input,
select,
textarea {
    width: 100%;
}
input[type=button],
input[type=submit] {
    width: initial;
}

ul{
	list-style-type: none;
	text-align: center;
}

header li{
	text-align: center;
	margin-right:30px;
	padding-top: 10px;
	display: inline;
}

li {
    border-bottom: 1px dotted #e3e3e3;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

table {
    width: 100%;
}
th {
    text-align: left;
}
td {
    padding: 0.5rem;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

body {
    background: linear-gradient(to bottom right, #F2FB8D, #D0C820 )fixed;
    color: #222222;
    font-family: sans-serif;
	
}

.container_div
{
  text-align:center;	
  margin: 0 auto;
  width: 900px;
  background-color: white;
  border-style: solid;
 
}

header {
    //background: #12619d ;
    color: #FFFFFF;
    margin-bottom: 1rem;
    min-width: 60rem;
    padding: 1rem;
}
header h1 {
    float: left;
    margin: 0;
    margin-right: 1rem;
}
header nav {
    padding: 0.75rem;
    text-transform: uppercase;
}
header nav li {
    border-bottom: 0;
    float: left;
    list-style-type: none;
    margin: 0 1rem;
    padding: 0;
}
header nav a {
    border-bottom: 1px dotted white;
    color: #FFFFFF;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: underline;
}

main {
    margin: 0 auto;
    width: 60rem;
}
main > * {
    margin-left: auto;
    margin-right: auto;
}

section {
    background: #FFFFFF;
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}
section.half {
    width: 27rem;
}
section.quarter {
    width: 13.5rem;
}
section.threequarters {
    width: 40.5rem;
}

footer {
    margin: 1rem;
    margin-top: 1rem;
    text-align: center;
}